<div class="card card-padding shadow mb-4 border-0">
  <div class="card-body text-left">
    <div class="row row-card card-first"
         style="border-bottom-style: solid;border-color: rgb(228,228,228);border-width: 1px;margin: 0;width: 100%;height: auto;padding: 0px;margin-bottom: 0px;">
      <div class="col-md-6 col-lg-6 col-xl-8" style="padding: 0px;">
        <div class="store-info" style="padding-top: 10px;padding-bottom: 10px;">{{store.type | titlecase}}</div>
      </div>
      <div
        class="col-md-6 col-lg-6 col-xl-4 d-md-flex d-lg-flex d-xl-flex justify-content-md-end justify-content-lg-end justify-content-xl-end"
        style="padding: 0px;">
        <div class="store-info" style="padding-top: 10px;padding-bottom: 10px;">Open Now</div>
      </div>
    </div>
    <div class="row row-card row-margin" style="margin: 0;width: 100%;height: auto;/*margin-bottom: 15px;*/">
      <div class="col-lg-6 col-xl-8" style="padding: 0px;">
        <h4
          style="margin-bottom: 0px;font-style: normal;font-family: Muli, sans-serif;font-size: 18px;font-weight: normal;">{{(store.name.length > 40) ? (store.name | titlecase | slice:0:40) + '..' : (store.name | titlecase)}}</h4>
        <div
          class="address-text">{{(store.address.length > 33) ? (store.address | slice:0:33) + '..' : (store.address)}}</div>
      </div>
    </div>
    <div class="row row-card" style="margin: 0;width: 100%;height: auto;margin-bottom: 15px;">
      <div class="col-lg-11 col-xl-8" style="padding: 0px;">
        <div class="row" style="margin: 0px;">
          <div class="col-lg-12 col-xl-12" style="padding: 0px;">
            <!--            <div *ngIf="store.deliveryTypeShow.includes('home_delivery')"-->
            <div class="d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-xl-start align-items-xl-center"><i
              class="fa fa-truck" style="margin-right: 8px;opacity: 1;color: rgb(0,0,0);"></i>
              <div class="delivery-type">Delivery</div>
            </div>
          </div>
          <div class="col-lg-11 col-xl-12" style="padding: 0px;">
            <!--            <div *ngIf="store.deliveryTypeShow.includes('pickup')"-->
            <div
              class="d-sm-flex d-md-flex d-xl-flex align-items-sm-center align-items-md-center align-items-xl-center">
              <i class="fas fa-walking" style="margin-right: 8px;opacity: 1;color: rgb(0,0,0);width: 16px;"></i>
              <div class="delivery-type">Pick Up</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 d-xl-flex justify-content-xl-end" style="padding: 0px;">
        <div class="d-flex d-xl-flex flex-row justify-content-xl-end align-items-xl-center"
             style="width: 100%;height: auto;">
          <i class="fa fa-cc-visa d-xl-flex mb-auto justify-content-xl-center"
             style="width: auto;opacity: 1;color: rgb(0,0,0);font-size: 20px;"></i>
          <i class="fa fa-cc-mastercard d-xl-flex mb-auto justify-content-xl-center"
             style="width: auto;opacity: 1;color: rgb(0,0,0);font-size: 20px;"></i>
          <i class="fas fa-money-bill d-xl-flex mb-auto justify-content-xl-center"
             style="width: auto;opacity: 1;color: rgb(0,0,0);font-size: 20px;"></i></div>
        <!--        <i *ngIf="store.paymentTypeShow.includes('card')"-->
        <!--           class="fa fa-cc-visa d-xl-flex mb-auto justify-content-xl-center"-->
        <!--           style="width: auto;opacity: 1;color: rgb(0,0,0);font-size: 20px;"></i>-->
        <!--        <i *ngIf="store.paymentTypeShow.includes('multibanco')"-->
        <!--           class="fa fa-cc-mastercard d-xl-flex mb-auto justify-content-xl-center"-->
        <!--           style="width: auto;opacity: 1;color: rgb(0,0,0);font-size: 20px;"></i>-->
        <!--        <i *ngIf="store.paymentTypeShow.includes('cash')"-->
        <!--           class="fas fa-money-bill d-xl-flex mb-auto justify-content-xl-center"-->
        <!--           style="width: auto;opacity: 1;color: rgb(0,0,0);font-size: 20px;"></i></div>-->
      </div>
    </div>
  </div>
