<header class="bg-light overflow-hidden pt-5"
        style="position: relative;padding: 0px;padding-bottom: 85px;margin-top: auto;letter-spacing: 1px;">
  <div class="d-none d-sm-none d-md-none d-lg-block d-xl-block image-header"
       style="/*fullw: 50%;*/z-index: 0;top: 8%;right: -3%;position: absolute;width: 50%;height: 500px;background-image: url(&quot;assets/img/dane-deaner-vlFeZzhlfzw-unsplash.jpg&quot;);background-size: cover;background-repeat: space;background-position: top;margin-top: auto;margin-bottom: auto;"></div>
  <div class="container pt-lg-5 pt-md-5" style="position: relative;">
    <div class="row">
      <div class="col-12 col-lg-6 col-xl-6 pt-5">
        <h1 class="visible"
            style="font-family: Muli, sans-serif;font-size: 56px;letter-spacing: -1px;font-weight: normal;line-height: 57px;">
          Support local businesses during a pandemic.</h1>
        <app-search-bar></app-search-bar>
      </div>
      <div class="col-12 col-lg-6 col-xl-6"><img
        class="img-fluid d-print-none d-sm-block d-md-block d-lg-none d-xl-none img-mobile"
        src="assets/img/dane-deaner-vlFeZzhlfzw-unsplash.jpg" style="width: 100%;/*display: none;*/"></div>
    </div>
  </div>
</header>
<app-store-list></app-store-list>
<section class="call-to-action text-white text-center"
         style="background: url(&quot;assets/img/bg-masthead.jpg&quot;) no-repeat center center;background-size: cover;background-image: url(&quot;assets/img/dane-deaner-vlFeZzhlfzw-unsplash.jpg&quot;);background-position: bottom;">
  <div class="overlay"></div>
  <div class="container">
    <app-sign-up-bar></app-sign-up-bar>
  </div>
</section>
<app-footer></app-footer>
