<footer class="footer bg-light" style="color: rgb(0,0,0);">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 my-auto h-100 text-center text-lg-left">
        <ul class="list-inline mb-2">
          <li class="list-inline-item"><a href="#" style="color: rgb(0,0,0);font-size: 14px;">About</a></li>
          <li class="list-inline-item" style="font-size: 14px;">List Item</li>
          <li class="list-inline-item"><span>⋅</span></li>
          <li class="list-inline-item"><a href="#" style="color: rgb(0,0,0);font-size: 14px;">Contact</a></li>
          <li class="list-inline-item"><span>⋅</span></li>
          <li class="list-inline-item"><a href="#" style="color: rgb(0,0,0);font-size: 14px;">Terms of &nbsp;Use</a>
          </li>
          <li class="list-inline-item"><span>⋅</span></li>
          <li class="list-inline-item"><a href="#" style="color: rgb(0,0,0);font-size: 14px;">Privacy Policy</a></li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">© LoveLocal 2020. All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 my-auto h-100 text-center text-lg-right">
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><a href="#" style="font-size: 12px;"><i class="fa fa-facebook fa-2x fa-fw"
                style="color: rgb(0,0,0);font-size: 16;font-weight: normal;"></i></a></li>
          <li class="list-inline-item"><a href="#" style="font-size: 12px;"><i class="fa fa-twitter fa-2x fa-fw"
                style="color: rgb(0,0,0);"></i></a></li>
          <li class="list-inline-item"><a href="#" style="font-size: 12pz;"><i class="fa fa-instagram fa-2x fa-fw"
                style="color: rgb(0,0,0);"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
